<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scava.platform.metricprovider">
         <metricProvider provider="org.eclipse.scava.metricprovider.trans.communicationchannel.index.IndexTransMetricProvider">
   		</metricProvider>
   </extension>
   <extension
         point="com.googlecode.pongo.runtime.osgi">
		 <!-- Need to add other metrics that are required by the this metric -->
         <!-- <class name="org.eclipse.scava.metricprovider.trans.plaintextprocessing.model.NewsgroupArticlePlainTextProcessing"/> -->
   </extension>
</plugin>
